:root {
  /** COLOR SHADES **/
  --color-blue1: #a4b8cc;
  --color-blue2: #1976ba;
  --color-blue3: #fafafa;
  --color-blue4: #125789;
  --color-blue5: #f2f4f7;
  --color-blue6: #2976ba;
  --color-blue7: #005a86;
  --color-blue8: #e3e9ee;

  --color-gray1: #333333;
  --color-gray2: #d6d6d6;
  --color-gray3: #6e6e6e;
  --color-gray4: #f2f2f2;
  --color-gray5: #474747;
  --color-gray6: #808080;
  --color-gray7: #e4e9ef;

  --color-red1: #a3372e;
  --color-red2: #f2e6e1;

  --color-white: #ffffff;
  --color-black: #000000;

  --panel-color: #f1f4f7;

  /** FONT SIZES **/
  --fontSize-buttonSmall: 11px;
  --fontSize-buttonMedium: 12px;
  --fontSize-labels: 11px;
  --fontSize-anchor: 14px;

  /** FONT FAMILY **/
  --fontFamily1: "Open Sans", sans-serif;

  --bg-color-input-disabled: #f5f5f5;
}
