@import "~/assets/design-system/css/_color.scss";

/***************************************************************
  FOOTER
***************************************************************/
footer {
  background: #954890;
  color: var(--color-white);
  padding: 10px 15px;
  height: 40px;
  text-align: right;
  bottom: 0px;
  width: 100%;
  left: 0px;
  color:white;
}

